<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajax_2</title>
    <script src="/static/Script.js"></script>
    <link href="/static/Styles.css" rel="stylesheet" />
</head>


<body>

<div id="D1">
<h1>Ajax Test </h1>
</div>
    
    
<div id="demo">
<h2>Info goes here:</h2>
<hr>
</div>


<div id="D2">
    <form>
        <select name="Person" onchange="show_info(this.value)">
            <option value=""> Choose one: </option>
            <option value="Dany"> Dany G </option>
            <option value="Marina"> Mari G </option>
        </select>
    </form>
</div>




</body>
</html>
